{% extends 'courseinfo/base.html' %}

{% block title %}
    Delete Cabin
{% endblock %}

{% block content %}
    <form
        action="{{ cabin.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            cabin {{ cabin }}?
        </p>
        <a href="{{ cabin.get_absolute_url }}"
            class="button button-primary">
            Cancel</a>
        <button type="submit" class="button button-primary">Delete Cabin</button>
    </form>
{% endblock %}
